<form action="/artist-search", method="GET">
    <input name="search"   type="text">
    
    <button type="submit">Search for an Artist</button>
</form>

{{!-- /artist-search?search=shakira
{{!-- Los campos del formulario son los valores que le damos a cada name --}}

